colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
coverage[toml]==7.4.1 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.10" and python_version < "4.0"
pluggy==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
pytest-asyncio==0.23.5 ; python_version >= "3.10" and python_version < "4.0"
pytest-cov==4.1.0 ; python_version >= "3.10" and python_version < "4.0"
pytest-local-badge==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
pytest-sugar==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
pytest==8.0.0 ; python_version >= "3.10" and python_version < "4.0"
termcolor==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_full_version <= "3.11.0a6"
