amqp==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
annotated-types==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
anyio==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "4.0"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.10" and python_full_version <= "3.11.2"
billiard==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
celery==5.3.6 ; python_version >= "3.10" and python_version < "4.0"
celery[pytest,redis]==5.3.6 ; python_version >= "3.10" and python_version < "4.0"
certifi==2024.2.2 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
click-didyoumean==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
cryptography==42.0.3 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
fastapi==0.109.2 ; python_version >= "3.10" and python_version < "4.0"
flower==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
httptools==0.6.1 ; python_version >= "3.10" and python_version < "4.0"
humanize==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.6 ; python_version >= "3.10" and python_version < "4.0"
kombu==5.3.5 ; python_version >= "3.10" and python_version < "4.0"
lxml==5.1.0 ; python_version >= "3.10" and python_version < "4.0"
minio==7.2.4 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
mypy==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "4.0"
pandas-stubs==2.1.4.231227 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
prometheus-client==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.43 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pycryptodome==3.20.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic-core==2.16.2 ; python_version >= "3.10" and python_version < "4.0"
pydantic-settings==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.6.1 ; python_version >= "3.10" and python_version < "4.0"
pytest-celery==0.0.0 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
redis==5.0.1 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
starlette==0.36.3 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.4 ; python_version >= "3.10" and python_version < "4.0"
types-aiofiles==23.2.0.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-all==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
types-annoy==1.17.8.4 ; python_version >= "3.10" and python_version < "4.0"
types-atomicwrites==1.4.5.1 ; python_version >= "3.10" and python_version < "4.0"
types-backports-abc==0.5.2 ; python_version >= "3.10" and python_version < "4.0"
types-backports==0.1.3 ; python_version >= "3.10" and python_version < "4.0"
types-bleach==6.1.0.1 ; python_version >= "3.10" and python_version < "4.0"
types-boto==2.49.18.20240205 ; python_version >= "3.10" and python_version < "4.0"
types-cachetools==5.3.0.7 ; python_version >= "3.10" and python_version < "4.0"
types-certifi==2021.10.8.3 ; python_version >= "3.10" and python_version < "4.0"
types-cffi==1.16.0.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-characteristic==14.3.7 ; python_version >= "3.10" and python_version < "4.0"
types-chardet==5.0.4.6 ; python_version >= "3.10" and python_version < "4.0"
types-click-spinner==0.1.13.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-click==7.1.8 ; python_version >= "3.10" and python_version < "4.0"
types-colorama==0.4.15.20240205 ; python_version >= "3.10" and python_version < "4.0"
types-contextvars==2.4.7.3 ; python_version >= "3.10" and python_version < "4.0"
types-croniter==2.0.0.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-cryptography==3.3.23.2 ; python_version >= "3.10" and python_version < "4.0"
types-dataclasses==0.6.6 ; python_version >= "3.10" and python_version < "4.0"
types-dateparser==1.1.4.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-datetimerange==2.0.0.6 ; python_version >= "3.10" and python_version < "4.0"
types-decorator==5.1.8.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-deprecated==1.2.9.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-docopt==0.6.11.4 ; python_version >= "3.10" and python_version < "4.0"
types-docutils==0.20.0.20240201 ; python_version >= "3.10" and python_version < "4.0"
types-emoji==2.1.0.3 ; python_version >= "3.10" and python_version < "4.0"
types-enum34==1.1.8 ; python_version >= "3.10" and python_version < "4.0"
types-fb303==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
types-filelock==3.2.7 ; python_version >= "3.10" and python_version < "4.0"
types-first==2.0.5.2 ; python_version >= "3.10" and python_version < "4.0"
types-flask==1.1.6 ; python_version >= "3.10" and python_version < "4.0"
types-freezegun==1.1.10 ; python_version >= "3.10" and python_version < "4.0"
types-frozendict==2.0.9 ; python_version >= "3.10" and python_version < "4.0"
types-futures==3.3.8 ; python_version >= "3.10" and python_version < "4.0"
types-geoip2==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
types-ipaddress==1.0.8 ; python_version >= "3.10" and python_version < "4.0"
types-itsdangerous==1.1.6 ; python_version >= "3.10" and python_version < "4.0"
types-jack-client==0.5.10.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-jinja2==2.11.9 ; python_version >= "3.10" and python_version < "4.0"
types-kazoo==0.1.3 ; python_version >= "3.10" and python_version < "4.0"
types-markdown==3.5.0.20240129 ; python_version >= "3.10" and python_version < "4.0"
types-markupsafe==1.1.10 ; python_version >= "3.10" and python_version < "4.0"
types-maxminddb==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
types-mock==5.1.0.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-mypy-extensions==1.0.0.5 ; python_version >= "3.10" and python_version < "4.0"
types-nmap==0.1.6 ; python_version >= "3.10" and python_version < "4.0"
types-openssl-python==0.1.3 ; python_version >= "3.10" and python_version < "4.0"
types-orjson==3.6.2 ; python_version >= "3.10" and python_version < "4.0"
types-paramiko==3.4.0.20240205 ; python_version >= "3.10" and python_version < "4.0"
types-pathlib2==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
types-pillow==10.2.0.20240213 ; python_version >= "3.10" and python_version < "4.0"
types-pkg-resources==0.1.3 ; python_version >= "3.10" and python_version < "4.0"
types-polib==1.2.0.20240115 ; python_version >= "3.10" and python_version < "4.0"
types-protobuf==4.24.0.20240129 ; python_version >= "3.10" and python_version < "4.0"
types-pyaudio==0.2.16.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-pycurl==7.45.2.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-pyfarmhash==0.3.1.2 ; python_version >= "3.10" and python_version < "4.0"
types-pyjwt==1.7.1 ; python_version >= "3.10" and python_version < "4.0"
types-pymssql==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
types-pymysql==1.1.0.1 ; python_version >= "3.10" and python_version < "4.0"
types-pyopenssl==24.0.0.20240130 ; python_version >= "3.10" and python_version < "4.0"
types-pyrfc3339==1.1.1.5 ; python_version >= "3.10" and python_version < "4.0"
types-pysftp==0.2.17.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-python-dateutil==2.8.19.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-python-gflags==3.1.7.3 ; python_version >= "3.10" and python_version < "4.0"
types-python-slugify==8.0.2.20240127 ; python_version >= "3.10" and python_version < "4.0"
types-pytz==2024.1.0.20240203 ; python_version >= "3.10" and python_version < "4.0"
types-pyvmomi==8.0.0.6 ; python_version >= "3.10" and python_version < "4.0"
types-pyyaml==6.0.12.12 ; python_version >= "3.10" and python_version < "4.0"
types-redis==4.6.0.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-requests==2.31.0.20240125 ; python_version >= "3.10" and python_version < "4.0"
types-retry==0.9.9.4 ; python_version >= "3.10" and python_version < "4.0"
types-routes==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
types-scribe==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
types-setuptools==69.1.0.20240217 ; python_version >= "3.10" and python_version < "4.0"
types-simplejson==3.19.0.2 ; python_version >= "3.10" and python_version < "4.0"
types-singledispatch==4.1.0.0 ; python_version >= "3.10" and python_version < "4.0"
types-six==1.16.21.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-tabulate==0.9.0.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-termcolor==1.1.6.2 ; python_version >= "3.10" and python_version < "4.0"
types-toml==0.10.8.7 ; python_version >= "3.10" and python_version < "4.0"
types-tornado==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
types-typed-ast==1.5.8.7 ; python_version >= "3.10" and python_version < "4.0"
types-tzlocal==5.1.0.1 ; python_version >= "3.10" and python_version < "4.0"
types-ujson==5.9.0.0 ; python_version >= "3.10" and python_version < "4.0"
types-waitress==2.1.4.20240106 ; python_version >= "3.10" and python_version < "4.0"
types-werkzeug==1.0.9 ; python_version >= "3.10" and python_version < "4.0"
types-xxhash==3.0.5.2 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
uvicorn[standard]==0.27.1 ; python_version >= "3.10" and python_version < "4.0"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "4.0"
vine==5.1.0 ; python_version >= "3.10" and python_version < "4.0"
watchdog==4.0.0 ; python_version >= "3.10" and python_version < "4.0"
watchfiles==0.21.0 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "4.0"
websockets==12.0 ; python_version >= "3.10" and python_version < "4.0"
